.navs{
  padding-left: 40%;
  color: black;
}
.customers{
  font-size: 17px;
  font-weight: 500;
}
.actives{
  font-size: 17px;
  font-weight: 500;
  color: grey;
}
.navslogo{
  padding-left: 70%;
}
.nav1 a:hover{
  color: grey;
}
a.nav2{
  color: black;
  text-decoration: none;
}
.customers{
    font-size: 17px;
    font-weight: 500;
}
.actives{
    font-size: 17px;
    font-weight: 500;
    color: grey;
}
.navslogo{
    padding-left: 70%;
}
a:hover {
    color: yellow;
  }
  a.home{
    color: grey;
    text-decoration: none;
  }
  a.customers{
    color: black;
    text-decoration: none;
  }
  .navbar{
    background-color: rgb(250, 252, 254);
  }
  
  .page-1{
    background-image: url(../img3/about-us-page-heading.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
  }
.pg-1{
    font-size: 45px;
    font-weight: 900;
    color: white;
}
.pg2-1{
    font-size: 15px;
    color: white;
}
.pgs-1{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}
.heading{
    font-size: 28px;
    font-weight: 700;
}
.paragraphs{
    font-size: 15px;
    font-weight: 500;
    color: grey;
}
.paragraph{
    border-bottom: 3px dotted rgb(198, 195, 195);
    font-size: 15px;
    font-weight: 500;
    color: rgb(141, 138, 138);
}
.faceicon{
    color: white;
    border-radius: 30px;
    background-color: black;

}
.faceicon:hover{
background-color:rgb(207, 208, 211);
color: black;
}
.radius{
    border-bottom: 2px dotted grey;
}
.team{
    text-align: center;
}
.Amazing{
    font-size: 25px;
    font-weight: 700;
}
.makes{
    font-size: 14px;
    font-weight: 500;
    color: grey;
}
.Ragnar{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.Product{
    font-size: 15px;
    /* font-weight: 500; */
    text-align: center;
    color: grey;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
.content {
  position: relative;
}
.content .content-overlay {
  background: rgba(20, 20, 20, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}
.content-image{
  width: 100%;
}
.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%; 
  left: 50%;
   opacity: 0; 
  transform: translate(-50%, -50%);
  padding-top: 90px;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  letter-spacing: 0.15em;
}
.fadeIn-bottom{
  top: 80%;
}
.fadeIn-top{
  top: 20%;
}
.content-title{
    font-size: 14px;
    font-weight: 400;
}
.demo>[class*='col-']{
    padding-right: 0;
    padding-left: 0;
}
.media{
    font-size: 30px;
    font-weight: 800;
}
.Hexashop{
    font-size: 15px;
    font-weight: 500;
    color: grey;
}
.faceico{
  border-radius: 20px;
  background-color: aliceblue;
  color: black;
}
.faceico:hover{
  background-color: black;
  color: #fff;
}
.justify{
  text-align: center;
}
.Our{
  font-size: 25px;
  font-weight: 800;
}
.makes{
  font-size: 13px;
  font-weight: 400;
}
.card-title{
  font-size: 20px;
  font-weight: 700;
}
.card-text{
  font-size: 13px;
  font-weight: 400;
}


.footer{
  color:white;
  font-size: 18px;
  font-weight: 400;
}
.footersection{
  padding-left: 20%;
  padding-right: 20%;
}
.footers{
  color:white;
  font-size: 17px;
  font-weight: 800;
}
.design{
  color:white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border-top: 1px solid white; 
}
.designs{
  color:white;
  font-size: 15px;
  font-weight: 400;
  text-align: center;  
}
.navs{
  padding-left: 40%;
}
.customers{
  font-size: 15px;
  font-weight: 500;
}
.actives{
  font-size: 17px;
  font-weight: 500;
  color: grey;
}
.navslogo{
  padding-left: 70%;
}
.logos{
  padding-left: 50%;
  padding-right:50% ;
}
.gg{
  text-align: center;
}
.head{
  font-size: 40px;
  font-weight: 900;
}
.font{
  font-size: 15px;
  font-weight: 400;
  color: grey;
  padding-right: 10%;
}
.fonts{
  font-size: 18px;
  font-weight: 700;
}
button:hover{
  background-color: white;
}
.telegram{
  background-color: black;
}
.plane{
  border: 1px solid black;
  background-color: black;
  color: aliceblue;

}
.plane:hover{
  background-color: white;
  color: black;
}
.templatemo{
  text-decoration: none;
  color: cadetblue;
}
.templatemo:hover{
  color: chocolate;
}
